<template>
  <full-page id="app" ref="fullpage" :options="options">
    <div class="section slide-1" >
      <div class="slide-1__wrapper">
        <h2>さゆりへ</h2>
      </div>
    </div>
    <div class="section slide-2">
      <div style="padding: 10px;">
        <h2 style="text-align:left;">こういう時だから伝えるけど<br>いつも一緒にいてくれてありがとう😍</h2>
      </div>
    </div>
    <div class="section slide-3">
      <div style="padding: 10px;text-align: left;">
        <h2>さゆりの笑顔をみてると<br>幸せな気持ちになるし<br>何回も助けられたと思う😳</h2>
      </div>
    </div>
    <div class="section slide-3-1">
      <div class="slide-1__wrapper">
        <h2>気づいたら洗い物してくれたり<br>ご飯作ってくれたり🍙</h2>
      </div>
    </div>
    <div class="section slide-4">
      <div style="position: relative;height: 100%;text-align: right;">
          <h2 style="position: absolute;right: 0;bottom: 0;">やけどおれはなんでも適当やし<br>デリカシーないし<br>部屋は汚いし...<br>迷惑ばっかりかけててごめんなさい😇</h2>
      </div>
    </div>
    <div class="section slide-5">
      <div class="slide-1__wrapper">
        <h2 style="text-align: right; width: 100%">このときとか...🙄　　</h2>
      </div>
    </div>
    <div class="section slide-6">
      <div class="slide-1__wrapper">
        <h2 style="text-align: right; width: 100%">このときも😫　　　</h2>
      </div>
    </div>
    <div class="section slide-7">
      <div class="slide-1__wrapper">
        <h2>さゆりと付き合えてるのが<br>本当に不思議🤔で<br>本当に嬉しい🤩</h2>
      </div>
    </div>
    <div class="section slide-8">
      <div style="position: relative;height: 100%;text-align: left;">
        <h2 style="position: absolute;bottom: 0;">もうすぐおれも25歳やし<br>さゆりと同じぐらいオトナになる💪💪</h2>
      </div>
    </div>
    <div class="section slide-9">
      <div class="slide-1__wrapper">
        <h2>改めて..誕生日おめでとう🎊<br>これからもよろしくお願いします🙇</h2>
      </div>
    </div>
    <div class="section slide-10">
      <div style="position: relative;height: 100%;text-align: left;">
        <h1 style="position: absolute;bottom: 0;">&nbsp;&nbsp;&nbsp;おわり</h1>
      </div>
    </div>
  </full-page>
</template>


<script>
export default {
  name: "App",
  data() {
    return {
      options: {
        anchors: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'],
        navigation: true,
        navigationPosition: 'right',
        navigationTooltips: ['スタート', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'おわり']
      }
    }
  }
}

</script>


<style>
body {
  margin: 0
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: white !important;
}

p,h5,h4,h3,h2,h1 {
  color: white;
  margin-top: 0px;
}

.slide-1__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.slide-1 {
  background-image: url(/img/1.jpg);
  background-position: center;
  background-size:cover;
}

.slide-2 {
  background-image: url(/img/2.jpg);
  background-position: center;
  background-size:cover;
}

.slide-3 {
  background-image: url(/img/3.jpg);
  background-position: center;
  background-size:cover;
}

.slide-3-1 {
  background-image: url(/img/3-1.jpg);
  background-position: center;
  background-size:cover;
}

.slide-4 {
  background-image: url(/img/4.jpg);
  background-position: center;
  background-size:cover;
}

.slide-5 {
  background-image: url(/img/5.jpg);
  background-position: center;
  background-size:cover;
}


.slide-6 {
  background-image: url(/img/6.jpg);
  background-position: center;
  background-size:cover;
}


.slide-7 {
  background-image: url(/img/7.jpg);
  background-position: center;
  background-size:cover;
}

.slide-8 {
  background-image: url(/img/8.jpg);
  background-position: center;
  background-size:cover;
}

.slide-9 {
  background-image: url(/img/9.jpg);
  background-position: center;
  background-size:cover;
}

.slide-10 {
  background-image: url(/img/10.jpg);
  background-position: center;
  background-size:cover;
}

* { 
  font-family: 'Noto Sans Japanese'; 
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 100;
    src: url('/font/NotoSansCJKjp-Thin.woff2') format('woff2'),
	     url('/font/NotoSansCJKjp-Thin.woff') format('woff'),
	     url('/font/NotoSansCJKjp-Thin.ttf')  format('truetype'),
         url('/font/NotoSansCJKjp-Thin.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 200;
    src: url('/font/NotoSansCJKjp-Light.woff2') format('woff2'),
	     url('/font/NotoSansCJKjp-Light.woff') format('woff'),
	     url('/font/NotoSansCJKjp-Light.ttf')  format('truetype'),
         url('/font/NotoSansCJKjp-Light.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 300;
    src: url('/font/NotoSansCJKjp-DemiLight.woff2') format('woff2'),
	     url('/font/NotoSansCJKjp-DemiLight.woff') format('woff'),
	     url('/font/NotoSansCJKjp-DemiLight.ttf')  format('truetype'),
         url('/font/NotoSansCJKjp-DemiLight.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    src: url('/font/NotoSansCJKjp-Regular.woff2') format('woff2'),
	     url('/font/NotoSansCJKjp-Regular.woff') format('woff'),
	     url('/font/NotoSansCJKjp-Regular.ttf')  format('truetype'),
         url('/font/NotoSansCJKjp-Regular.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 500;
    src: url('/font/NotoSansCJKjp-Medium.woff2') format('woff2'),
	     url('/font/NotoSansCJKjp-Medium.woff') format('woff'),
	     url('/font/NotoSansCJKjp-Medium.ttf')  format('truetype'),
         url('/font/NotoSansCJKjp-Medium.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 700;
    src: url('/font/NotoSansCJKjp-Bold.woff2') format('woff2'),
	     url('/font/NotoSansCJKjp-Bold.woff') format('woff'),
	     url('/font/NotoSansCJKjp-Bold.ttf')  format('truetype'),
         url('/font/NotoSansCJKjp-Bold.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 900;
    src: url('/font/NotoSansCJKjp-Black.woff2') format('woff2'),
	     url('/font/NotoSansCJKjp-Black.woff') format('woff'),
	     url('/font/NotoSansCJKjp-Black.ttf')  format('truetype'),
         url('/font/NotoSansCJKjp-Black.eot') format('embedded-opentype');
}

</style>
